.container_dash {
  position: relative;
  display: block;
  padding: 30px;
  margin-top: 25px;
}
.card-icon-large {
  display: flex;
  font-size: 50px;
  flex-direction: row;
  align-items: center;
}
.dashTitle {
  font-size: 30px;
  font-weight: bolder;
  letter-spacing: 2.5px;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 10px;
}
.sideStyle {
  margin-right: 15px;
  color: #fff;
  height: 40px;
}
.card {
  background-color: #fff;
  border-radius: 10px;
  border: none;
  position: relative;
  margin-bottom: 30px;
  box-shadow: 0 0.46875rem 2.1875rem rgba(90, 97, 105, 0.1),
    0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.1),
    0 0.25rem 0.53125rem rgba(90, 97, 105, 0.12),
    0 0.125rem 0.1875rem rgba(90, 97, 105, 0.1);
}

.gradiant1 {
  background: rgb(1, 79, 134);
  background: linear-gradient(
    90deg,
    rgba(1, 79, 134, 1) 0%,
    rgba(15, 127, 205, 1) 66%,
    rgba(84, 183, 255, 1) 100%
  );
}
.gradiant2 {
  background: rgb(54, 121, 9);
  background: linear-gradient(
    90deg,
    rgba(54, 121, 9, 1) 0%,
    rgba(93, 213, 101, 1) 33%,
    rgba(0, 232, 210, 1) 75%,
    rgba(0, 185, 146, 1) 99%
  );
}
.gradiant3 {
  background: rgb(150, 0, 81);
  background: linear-gradient(
    90deg,
    rgba(150, 0, 81, 1) 0%,
    rgba(97, 94, 0, 1) 100%
  );
}
.gradiant4 {
  background: rgb(160, 82, 45); /* Sienna */
  background: linear-gradient(
    90deg,
    rgba(160, 82, 45, 1) 0%,
    rgba(205, 133, 63, 1) 66%,
    rgba(205, 133, 63, 1) 100%
  );
}
.gradiant5 {
  background: rgb(65, 105, 225); /* Royal Blue */
  background: linear-gradient(
    90deg,
    rgba(65, 105, 225, 1) 0%,
    rgba(0, 0, 128, 1) 66%,
    rgba(0, 0, 205, 1) 100%
  );
}
.gradiant6 {
  background: rgb(128, 0, 0); /* Dark Red */
  background: linear-gradient(
    90deg,
    rgba(128, 0, 0, 1) 0%,
    rgba(160, 32, 32, 1) 66%,
    rgba(192, 64, 64, 1) 100%
  );
}
.gradiant7 {
  background: rgb(0, 128, 128); /* Teal */
  background: linear-gradient(
    90deg,
    rgba(0, 128, 128, 1) 0%,
    rgba(30, 144, 255, 1) 66%,
    rgba(0, 191, 255, 1) 100%
  );
}
.card-title {
  font-size: 20px;
  color: #fff;
  font-weight: bolder;
  letter-spacing: 2.5px;
}
.dashBtns {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.btnChange {
  color: white;
  width: fit-content;
  padding: 0.5em 1em;
  margin: 1em;
  background: #97979796;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .btnChange {
    padding: 0.1em 0.5em;
    margin: 0.1em;
  }
}
.btnChange:hover {
  background: #353535c5;
  color: white;
}
.iconsDash {
  margin-left: 10px;
  font-size: 20px;
}
