.listContainer {
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 20px;
  margin: 0px;
}
.content {
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 20px;
  margin: 0px;
}
.btns_display {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.newP {
  margin-left: 20px;
}
.nolink {
  text-decoration: none;
  color: #fff;
}
.modalInput {
  width: 300px;
  padding: 10px;
  margin: 0px;
}
.modalAreaEdit {
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 20px;
  margin: 0px;
}
#selectedRowsContainer {
  margin-top: 20px;
  border: 1px solid #dbdbdb;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: none;
}
#selectClient {
  margin-top: 20px;
  border: 1px solid #dbdbdb;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: none;
}
ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.list-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
.carStyle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.obsSell {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.clientBox {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.carInputSell {
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 5px;
  background-color: transparent;
  color: inherit;
  margin-left: 3px;
}
.carInputSell::placeholder {
  font-size: 16px;
}
.carInputStyle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.iconCar {
  font-size: 35px;
  margin-right: 10px;
}
.input-title {
  text-align: center;
  font-weight: bold;
}
.carInputSell::-webkit-inner-spin-button,
.carInputSell::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.carInputSell[type="number"] {
  -moz-appearance: textfield;
}

.dropstyleClient {
  width: fit-content;
  height: 100%;
  overflow: auto;
  padding: 10px;
  margin: 0px;
}
.submitDisplay {
  margin-top: 15px;
  padding: 10px 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
#createSell {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
#showCreateBtn {
  display: none;
}

.tableSoloBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}
.tableTripleBtns {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  flex-wrap: wrap;
}
.deleteSpace {
  margin-right: 10px;
}
