<!-- base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Include Bootstrap CSS from CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!-- Include Boxicons CSS from CDN -->
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />

    <!-- Include SweetAlert2 CSS from CDN -->
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.32/dist/sweetalert2.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Include Datatables CSS from CDN -->
    <link
            rel="stylesheet"
            href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css"
    />
    <link
            rel="stylesheet"
            href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.bootstrap.min.css"
    />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/js/all.min.js"
            integrity="sha512-GWzVrcGlo0TxTRvz9ttioyYJ+Wwk9Ck0G81D+eO63BaqHaJ3YZX9wuqjwgfcV/MrB2PhaVX9DkYVhbFpStnqpQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Include your custom CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/posLogin.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/form.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/dropdown.css' %}"/>
    {% block extra_css %}{% endblock %}

    <title>{% block title %}ByteBridges{% endblock %}</title>
</head>
<body id="body-pd">
<script
        src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
        crossorigin="anonymous"
></script>

<!-- Include Bootstrap JS from CDN -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

<!-- Include Datatables JS from CDN -->
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>

<!-- Include  JS PDF  from CDN -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
<script type="text/javascript" src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>

<!-- Include  JS PDF  from CDN -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
<script type="text/javascript" src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script><script>
    document.addEventListener("DOMContentLoaded", function () {
        const toggleNavbar = (toggleId, navId, bodyId, headerId) => {
            const toggle = document.getElementById(toggleId),
                nav = document.getElementById(navId),
                bodypd = document.getElementById(bodyId),
                headerpd = document.getElementById(headerId);
    
            if (toggle && nav && bodypd && headerpd) {
                toggle.addEventListener("click", () => {
                    nav.classList.toggle("showbar");
                    toggle.classList.toggle("bx-x");
                    bodypd.classList.toggle("body-pd");
                    headerpd.classList.toggle("body-pd");
                });
            }
        };
    
        toggleNavbar("header-toggle", "nav-bar", "body-pd", "header");
    
        const menuLinks = document.querySelectorAll('.nav_link');
    
        menuLinks.forEach(function (link) {
            link.addEventListener('click', function (event) {
                const nav = document.getElementById('nav-bar');
                const toggle = document.getElementById('header-toggle');
                const bodypd = document.getElementById('body-pd');
                const headerpd = document.getElementById('header');
    
                if (!nav.classList.contains("showbar")) {
                    // Only toggle when the menu is closed
                    nav.classList.toggle("showbar");
                    toggle.classList.toggle("bx-x");
                    bodypd.classList.toggle("body-pd");
                    headerpd.classList.toggle("body-pd");
                }
    
                // Handle your link-specific behavior here
            });
        });
    
        const dropdowns = document.querySelectorAll('.nav_link_dropdown');
    
        dropdowns.forEach(function (dropdown) {
            const content = dropdown.querySelector('.dropdown_content');
            const arrowIcon = dropdown.querySelector('.arrow');
    
            dropdown.addEventListener('click', function (event) {
                event.preventDefault();
                content.classList.toggle('show-dropdown');
                arrowIcon.classList.toggle('rotate');
            });
    
            // Stop the click event propagation when clicking inside the dropdown content
            content.addEventListener('click', function (event) {
                event.stopPropagation();
            });
        });
    
        // Close the dropdowns when clicking outside their scope
        document.addEventListener('click', function (event) {
            dropdowns.forEach(function (dropdown) {
                const content = dropdown.querySelector('.dropdown_content');
                const arrowIcon = dropdown.querySelector('.arrow');
                if (!dropdown.contains(event.target)) {
                    content.classList.remove('show-dropdown');
                    arrowIcon.classList.remove('rotate');
                }
            });
        });
    });
    
    
</script>
<!--Menu-->
<header class="header" id="header">
    <div class="header_toggle">
        <i class="bx bx-menu" id="header-toggle"></i>
    </div>
    <div class="header_img">
        <img src="https://freesvg.org/img/abstract-user-flat-4.png" alt=""/>
    </div>
</header>

<div class="l-navbar" id="nav-bar">
    <nav class="nav">
        <div>
            <a href="/dashboard" class="nav_logo">
                <i class="bx bx-layer nav_logo-icon"></i>
                <span class="nav_logo-name">ByteBridges</span>
            </a>
            <div>
                 <div class="nav_link_dropdown">
                    <div>
                        <a href="#" class="nav_link nav_hover">
                            <i class="bx bx-grid-alt nav_icon"></i>
                            <span class="nav_name">Produtos <i class='bx bx-chevron-right arrow'></i></span>
                        </a>
                    </div>
                    <div class="dropdown_content nav_link">
                        <a href="componentCreate" class="dropHover">
                            Adicionar Componente <i class='bx bx-chevron-right arrow'></i>
                        </a>
                        <a href="equipmentCreate" class="dropHover">
                            Adicionar Equipamento <i class='bx bx-chevron-right arrow'></i>
                        </a>
                        <a href="familyCreate" class="dropHover">
                            Adicionar Familia <i class='bx bx-chevron-right arrow'></i>
                        </a>
                        <a href="componentList" class="dropHover">
                            Gerir Componente <i class='bx bx-chevron-right arrow'></i>
                        </a>
                        <a href="equipmentList" class="dropHover">
                            Gerir Equipamento <i class='bx bx-chevron-right arrow'></i>
                        </a>
                        <a href="familyList" class="dropHover">
                            Gerir Familia <i class='bx bx-chevron-right arrow'></i>
                        </a>
                  
                    </div>
                </div>
                <div class="nav_link_dropdown">
                    <div>
                        <a href="#" class="nav_link nav_hover">
                            <i class='bx bx-package nav_icon'></i>
                            <span class="nav_name">Encomendas <i class='bx bx-chevron-right arrow'></i></span>
                        </a>
                    </div>
                    <div class="dropdown_content nav_link">
                        <!-- Submenu -->
                        <div class="nav_link_dropdown">
                            <div>
                                <a href="#" class="nav_link nav_hover_sub">
                                    <i class='bx bx-package nav_icon'></i>
                                    <span class="nav_name">Compras <i class='bx bx-chevron-right arrow'></i></span>
                                </a>
             
                            </div>
                            <div class="dropdown_content nav_link">
                                <a href="orderSupplierCreate" class="dropHover">
                                    Criar <i class='bx bx-chevron-right arrow'></i>
                                </a>
                                <a href="orderSupplierList" class="dropHover">
                                    Gerir <i class='bx bx-chevron-right arrow'></i>
                                </a>
                            </div>
                        </div>
                        <div class="nav_link_dropdown">
                            <div>
       
                                <a href="#" class="nav_link nav_hover_sub">
                                    <i class='bx bx-package nav_icon'></i>
                                    <span class="nav_name">Vendas<i class='bx bx-chevron-right arrow'></i></span>
                                </a>
                            </div>
                            <div class="dropdown_content nav_link">
                                <a href="orderClientCreate" class="dropHover">
                                    Criar <i class='bx bx-chevron-right arrow'></i>
                                </a>
                                <a href="orderClientList" class="dropHover">
                                    Gerir <i class='bx bx-chevron-right arrow'></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nav_link_dropdown">
                    <div>
                        <a href="#" class="nav_link nav_hover">
                            <i class="bx bx-user nav_icon"></i>
                            <span class="nav_name">Clientes <i class='bx bx-chevron-right arrow'></i></span>
                        </a>
                    </div>
                    <div class="dropdown_content nav_link">
                        <a href="clientList" class="dropHover">
                            Gerir Cliente <i class='bx bx-chevron-right arrow'></i>
                        </a>
                        <a href="clientCreate" class="dropHover">
                            Adicionar Cliente <i class='bx bx-chevron-right arrow'></i>
                        </a>
                    </div>
                </div>
                <div class="nav_link_dropdown">
                    <div>
                        <a href="#" class="nav_link nav_hover">
                            <i class="bx bx-message-square-detail nav_icon"></i>
                            <span class="nav_name">Documentos <i class='bx bx-chevron-right arrow'></i></span>
                        </a>
                    </div>
                    <div class="dropdown_content nav_link">
                        <a href="documentsSupplier" class="dropHover">
                            Adicionar Factura/Guia de Compra <i class='bx bx-chevron-right arrow'></i>
                        </a>
                        <a href="#" class="dropHover">
                            Adicionar Factura/Guia de Vendas <i class='bx bx-chevron-right arrow'></i>
                        </a>
                        <a href="#" class="dropHover">
                            Gerir Factura/Guia de Compra <i class='bx bx-chevron-right arrow'></i>
                        </a>
                        <a href="#" class="dropHover">
                            Gerir Factura/Guia de Vendas <i class='bx bx-chevron-right arrow'></i>
                        </a>
                    </div>
                </div>

                <div class="nav_link_dropdown">
                    <div>
                        <a href="#" class="nav_link nav_hover">
                            <i class="bx bxs-component nav_icon"></i>
                            <span class="nav_name">Stocks <i class='bx bx-chevron-right arrow'></i></span>
                        </a>
                    </div>
                    <div class="dropdown_content nav_link">
                        <a href="stockList" class="dropHover">
                            Ver Stock <i class='bx bx-chevron-right arrow'></i>
                        </a>
                        <a href="#" class="dropHover">
                            Movimentos de Stock <i class='bx bx-chevron-right arrow'></i>
                        </a>
                    </div>
                </div>
                <div class="nav_link_dropdown">
                    <div>
                        <a href="#" class="nav_link nav_hover">
                            <i class='bx bxs-user-account nav_icon'></i>
                            <span class="nav_name">Utilizadores <i class='bx bx-chevron-right arrow'></i></span>
                        </a>
                    </div>
                    <div class="dropdown_content nav_link">
          
                        <a href="#" class="dropHover">
                            Adicionar Utilizadores <i class='bx bx-chevron-right arrow'></i>
                        </a>
                        <a href="laborCreate" class="dropHover">
                            Adicionar Mão de Obra <i class='bx bx-chevron-right arrow'></i>
                        </a>
                        <a href="stockList" class="dropHover">
                            Gerir Utilizadores<i class='bx bx-chevron-right arrow'></i>
                        </a>
                        <a href="laborList" class="dropHover">
                            Gerir Mão de Obra <i class='bx bx-chevron-right arrow'></i>
                        </a>
              
                    </div>
                </div>

            </div>
        </div>
        <a class="nav_link nav_hover" onclick="logoutRequest()">
            <i class="bx bx-log-out nav_icon"></i>
            <span class="nav_name">Logout</span>
        </a>
    </nav>
</div>
<!--Fim Menu-->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var dropdowns = document.querySelectorAll('.nav_link_dropdown');

        dropdowns.forEach(function (dropdown) {
            var content = dropdown.querySelector('.dropdown_content');
            var arrowIcon = dropdown.querySelector('.arrow');

            dropdown.addEventListener('click', function (event) {
                event.preventDefault();
                content.style.display = (content.style.display === 'block') ? 'none' : 'block';

                // Toggle the class to change the arrow icon
                arrowIcon.classList.toggle('rotate');
            });

            // Stop the click event propagation when clicking inside the dropdown content
            content.addEventListener('click', function (event) {
                event.stopPropagation();
            });

            // Close the dropdown when clicking outside its scope
            document.addEventListener('click', function (event) {
                if (!dropdown.contains(event.target)) {
                    content.style.display = 'none';
                    arrowIcon.classList.remove('rotate');
                }
            });
        });
    });

    function logoutRequest() {
        Swal.fire({
            title: 'Tem a certeza que pretende sair?',
            showDenyButton: true,
            showCancelButton: false,
            confirmButtonText: `Sim`,
            denyButtonText: `Não`,
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "{% url 'logout' %}";
            } else if (result.isDenied) {

            }
        })
    }
</script>

<div class="container">{% block content %}{% endblock %}</div>

<!--footer-->
<footer class="myFooter text-white text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-4">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0 logoFooterCenter">
                <div class="logoFooterJoin">
                    <h5 class="text-uppercase">Base de Dados II</h5>
                    <img src="https://www.freepnglogos.com/uploads/stitch-png/stitch-sticker-png-13.png" width="150px"
                         height="100px">
                </div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">

                <p class="teamMembers">
                    Projeto desenvolvido por:
                    <br>
                    <br>
                    <strong>André Rodrigues</strong>
                    <br>
                    <strong>Hugo Santos</strong>
                    <br>
                    <strong>Miguel Costa</strong>
                    <br>
                    <strong>Paulo Cabral</strong>
                </p>

            </div>
        </div>
        <!--Grid row-->
    </div>
    <!-- Grid container -->


    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright:
        <a class="text-white" href="#">basededadosII.com</a>
    </div>
    <!-- Copyright -->
</footer>
</div>
<!--Fim footer-->
</body>
</html>
