{% extends 'forms.html' %} {% block formContent %} {% block formTitle %}
<h1 class="title">Criar novo Cliente</h1>
{% endblock %}

<form class="contact-form row" action="{% url 'clientsCreate' %}" method="post">
  {% csrf_token %}
  <div class="form-field col-lg-6">
    <input
      id="name"
      name="name"
      class="input-text js-input"
      type="text"
      required
    />
    <label class="label" for="name">Nome</label>
  </div>
  <div class="form-field col-lg-6">
    <input
      id="nif"
      name="nif"
      class="input-text js-input"
      type="text"
      required
    />
    <label class="label" for="nif">NIF</label>
  </div>

  <div class="form-field col-lg-12">
    <input
      id="address"
      name="address"
      class="input-text js-input"
      type="text"
      required
    />
    <label class="label" for="address">Morada</label>
  </div>

  <div class="form-field col-lg-6">
    <input
      id="zipcode"
      name="zipcode"
      class="input-text js-input"
      type="text"
      required
    />
    <label class="label" for="zipcode">Cod.Postal</label>
  </div>

  <div class="form-field col-lg-6">
    <input
      id="city"
      name="city"
      class="input-text js-input"
      type="text"
      required
    />
    <label class="label" for="city">Cidade</label>
  </div>
  <br />
  <div class="form-field col-lg-6">
    <input
      id="email"
      name="email"
      class="input-text js-input"
      type="email"
      required
    />
    <label class="label" for="phone">email</label>
  </div>
  <div class="form-field col-lg-12">
    <label class="areaLabel" for="obs">Observações:</label>
    <textarea id="obs" name="obs" rows="4" cols="100" required></textarea><br />
  </div>

  <div class="form-field col-lg-12 submitBtn">
    <input class="submit-btn" type="submit" value="Criar Cliente" />
  </div>
</form>
{% endblock %}
