{% extends 'forms.html' %} {% block formContent %} {% block formTitle %}
<h1 class="title">Editar Componente</h1>
{% endblock %} {% if component %}
<form class="allforms row" method="post" action="{% url 'componentEdit' component_id %}">
  {% csrf_token %}

  <div class="form-field col-lg-6">
    <input
      id="name"
      name="name"
      class="input-text js-input"
      type="text"
      value="{{ component.name }}"
      required
    />
    <label class="label" for="name">Nome</label>
  </div>

  <div class="form-field col-lg-6">
    <select id="dropdown" name="idfamily" class="input-text js-input" required>
        {% for f in family %}
            <option value="{{ f.idfamily }}" {% if f.name == component.family %}selected{% endif %}>
                {{ f.name }}
            </option>
        {% endfor %}
    </select>
      <label class="label" for="family">Familia</label>
  </div>

<div class="form-field col-lg-4">
            <input
                    id="profitmargin"
                    name="profitmargin"
                    class="input-text js-input"
                    type="text"
                    value="{{component.profitmargin}}"
                    required
            />
            <label class="label" for="profitmargin">Margem de Lucro</label>

        </div>

  <div class="form-field col-lg-4">
      <input
              id="barcode"
              name="barcode"
              class="input-text js-input"
              type="text"
              value="{{ component.barcode }}"
              required
      />
      <label class="label" for="barcode">Código de Barras</label>
  </div>


   <div class="form-field col-lg-4">
            <input
                    id="reference"
                    name="reference"
                    class="input-text js-input"
                    type="text"
                    value="{{ component.reference }}"
                    required
            />
            <label class="label" for="reference">Referência</label>
        </div>


  <div class="form-field col-lg-12">
      <label class="areaLabel" for="description">Descrição:</label>
            <textarea
                    id="description"
                    name="description"
                    rows="4"
                    cols="97"
                    style="border: 2px solid black;"
                    required>{{ component.description }}</textarea><br />
        </div>

  <div class="form-field col-lg-12 submitBtn">
    <input class="submit-btn" type="submit" value="Atualizar Componente" />
  </div>
</form>
{% else %}
<p>Equipment not found</p>
{% endif %} {% endblock %}
