{% extends 'base_template.html' %}

{% block title %}Dashboard - Gestor{% endblock %}

{% block header %}Dashboard - Gestor{% endblock %}

{% block content %}
    <style>
        .center-form {
            display: flex;
            align-items: center;
            max-width: 400px;
            width: 100%;
        }
    </style>
    <h1> Adicionar novo Produto</h1>
    <div class="center-form">
        <form method="post" action="{% url 'create' %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="product_name" class="form-label">Nome do produto</label>
                <input type="text" class="form-control" name="product_name" id="product_name">
            </div>
            <fieldset>
                <legend>Indique o tipo de campo</legend>
                <div>
                    <input type="radio" id="simple" name="field_type" value="simple" checked/>
                    <label for="simple">Valor Simples</label>
                </div>
                <div>
                    <input type="radio" id="multiple" name="field_type" value="array"/>
                    <label for="multiple">Multiplos valores</label>
                </div>
            </fieldset>
            <div class="mb-3">
                <label for="field_name" class="form-label">Nome campo</label>
                <input type="text" class="form-control" id="field_name" name="field_name">
            </div>
            <div class="mb-3">
                <label for="field_value" class="form-label">Valor do campo</label>
                <input type="text" class="form-control" id="field_value" name="field_value">
            </div>
            <button type="submit" class="btn col-md6 btn-primary">Criar objecto</button>
        </form>
    </div>
{% endblock %}

{% block footer %}
    <p>Lista de produtos</p>
{% endblock %}