{% extends 'base_template.html' %} {%block extra_css%} {% load static %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/dashboard.css' %}"
/>

{%endblock%} {% block content %}

<div class="container_dash">
  <div class="dashTitle">
    <h1>DashBoard</h1>
  </div>
  <div class="row">
    <div class="col-xl-6 col-lg-6">
      <div class="card gradiant1">
        <div class="card-statistic-3 p-4">
          <div class="card-icon card-icon-large">
            <i class="fas fa-shopping-cart"></i>
          </div>
          <div class="mb-4">
            <h5 class="card-title mb-0">Fornecedores</h5>
          </div>
          <div class="row align-items-center mb-2 dashBtns">
            <!-- Botão 1 -->
            <a href="supplierList" class="btn btnChange">
              Gerir Fornecedores <i class="bx bx-right-arrow-alt iconsDash"></i>
            </a>
            <!-- Botão 2 -->
            <a href="supplierCreate" class="btn btnChange">
              Adicionar Fornecedores
              <i class="bx bx-right-arrow-alt iconsDash"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-lg-6">
      <div class="card gradiant2">
        <div class="card-statistic-3 p-4">
          <div class="card-icon card-icon-large">
            <i class="fas fa-dollar-sign"></i>
          </div>
          <div class="mb-4">
            <h5 class="card-title mb-0">Clientes</h5>
          </div>
          <div class="row align-items-center mb-2 d-flex">
            <div class="row align-items-center mb-2 dashBtns">
              <!-- Botão 1 -->
              <a href="clientList" class="btn btnChange">
                Gerir Clientes
                <i class="bx bx-right-arrow-alt iconsDash"></i>
              </a>
              <!-- Botão 2 -->
              <a href="clientCreate" class="btn btnChange">
                Adicionar Clientes
                <i class="bx bx-right-arrow-alt iconsDash"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-lg-6">
      <div class="card gradiant7">
        <div class="card-statistic-3 p-4">
          <div class="card-icon card-icon-large">
            <i class="fas fa-users"></i>
          </div>
          <div class="mb-4">
            <h5 class="card-title mb-0">Encomendas</h5>
          </div>
          <div class="row align-items-center mb-2 dashBtns">
            <!-- Botão 1 -->
            <button class="btn btnChange">
              Gerir Encomendas <i class="bx bx-right-arrow-alt iconsDash"></i>
            </button>
            <!-- Botão 2 -->
            <a href="orderSupplierCreate" class="btn btnChange">
              Criar Encomendas
              <i class="bx bx-right-arrow-alt iconsDash"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-6 col-lg-6">
      <div class="card gradiant3">
        <div class="card-statistic-3 p-4">
          <div class="card-icon card-icon-large">
            <i class="fas fa-ticket-alt"></i>
          </div>
          <div class="mb-4">
            <h5 class="card-title mb-0">Stocks</h5>
          </div>
          <div class="row align-items-center mb-2 dashBtns">
            <!-- Botão 1 -->
            <button class="btn btnChange">
              Ver Stocks <i class="bx bx-right-arrow-alt iconsDash"></i>
            </button>
            <!-- Botão 2 -->
            <button class="btn btnChange">
              Movimentos de Stocks
              <i class="bx bx-right-arrow-alt iconsDash"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-lg-6">
      <div class="card gradiant4">
        <div class="card-statistic-3 p-4">
          <div class="card-icon card-icon-large">
            <i class="fas fa-dollar-sign"></i>
          </div>
          <div class="mb-4">
            <h5 class="card-title mb-0">Equipamentos</h5>
          </div>
          <div class="row align-items-center mb-2 d-flex">
            <div class="row align-items-center mb-2 dashBtns">
              <!-- Botão 1 -->
              <a href="equipmentList" class="btn btnChange">
                Gerir Equipamentos
                <i class="bx bx-right-arrow-alt iconsDash"></i>
              </a>
              <!-- Botão 2 -->
              <a href="equipmentCreate" class="btn btnChange">
                Adicionar Equipamentos
                <i class="bx bx-right-arrow-alt iconsDash"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-lg-6">
      <div class="card gradiant6">
        <div class="card-statistic-3 p-4">
          <div class="card-icon card-icon-large">
            <i class="fas fa-dollar-sign"></i>
          </div>
          <div class="mb-4">
            <h5 class="card-title mb-0">Componentes</h5>
          </div>
          <div class="row align-items-center mb-2 d-flex">
            <div class="row align-items-center mb-2 dashBtns">
              <!-- Botão 1 -->
              <a href="componentList" class="btn btnChange">
                Gerir Componentes
                <i class="bx bx-right-arrow-alt iconsDash"></i>
              </a>
              <!-- Botão 2 -->
              <a href="componentCreate" class="btn btnChange">
                Adicionar Componentes
                <i class="bx bx-right-arrow-alt iconsDash"></i>
              </a>
            </div>
            <!-- Botão 3 -->
            <a href="familyCreate" class="btn btnChange">
              Adicionar Familia de Componentes
              <i class="bx bx-right-arrow-alt iconsDash"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-lg-6">
      <div class="card gradiant5">
        <div class="card-statistic-3 p-4">
          <div class="card-icon card-icon-large">
            <i class="fas fa-ticket-alt"></i>
          </div>
          <div class="mb-4">
            <h5 class="card-title mb-0">Facturas e Guias</h5>
          </div>
          <div class="row align-items-center mb-2 dashBtns">
            <!-- Botão 1 -->
            <button class="btn btnChange">
              Gerir Facturas <i class="bx bx-right-arrow-alt iconsDash"></i>
            </button>
            <!-- Botão 2 -->
            <button class="btn btnChange">
              Gerir Guias <i class="bx bx-right-arrow-alt iconsDash"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
