{% extends 'forms.html' %} {% block formContent %} {% block formTitle %}
    <h1 class="title">Documento de compra</h1>
{% endblock %}
    <div class="box-content-title">
        <div class="row">
            <h2>Dados da Fatura</h2>
            <hr>
        </div>
    </div>
    <div class="container">
        <form>
            <div class="form-group">
                <label for="supplier"><strong>Fornecedor:</strong></label>
                <select id="supplier" name="supplier" class="dropstyle">
                    <option class="dropOptions" value="" disabled selected>
                        Escolha o fornecedor
                    </option>
                    {% for s in suppliers %}
                        <option class="dropOptions" value="{{ s.idsupplier }}">
                            {{ s.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label><strong>Natureza do documento:</strong></label>
                <div class="form-check">
                    <input type="radio" class="form-check-input" checked name="radioGroup" id="invoice_type" value="FT">
                    <label class="form-check-label" for="radioOption1">Fatura</label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="radioGroup" id="guia_type" value="GR">
                    <label class="form-check-label" for="radioOption2">Guia de remessa</label>
                </div>
            </div>
            <div class="form-group">
                <label for="input2"><strong>Número de documento fornecedor:</strong></label>
                <input type="text" class="form-control" id="input2" placeholder="Numero de fatura">
            </div>
            <div class="form-group">
                <label for="invoice_value"><strong>Valor do documento:</strong></label>
                <input type="number" class="form-control" id="invoice_value" name="invoice_value" placeholder=Valor da
                       fatura">
            </div>
            <div class="form-group">
                <label for="input4"><strong>Data de documento:</strong></label>
                <input type="date" class="form-control" id="input4">
            </div>

            <div class="form-group">
                <label for="idwarehouse"><strong>Armazém:</strong></label>
                <select id="warehouse" name="idwarehouse" class="dropstyle">
                    <option class="dropOptions" value="" disabled selected>
                        Escolha um Armazém
                    </option>
                    {% for w in warehouses %}
                        <option class="dropOptions" value="{{ w.idwarehouse }}">
                            {{ w.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            {#            <div class="form-group col-lg-12">#}
            {##}
            {#                <label class="areaLabel" for="obs">Observações adicionais:</label>#}
            {#                <div class="form-check"><textarea id="obs" class="input-text js-input" name="obs"></textarea></div>#}
            {##}
            {##}
            {#            </div>#}
            <div class="form-group ">
                <label>Documento relacionado:</label>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="showListDocs">
                    <label class="form-check-label" for="showListDocs">Sim</label>
                </div>
                <div class="form-group " id="relatedDocs" style="display: none;">
                    <label for="relatedDocs">Documentos </label>
                    <select id="warehouse" name="idwarehouse" class="dropstyle">
                        <option class="dropOptions" value="" disabled selected>
                        </option>
                        {% for w in warehouses %}
                            <option class="dropOptions" value="{{ w.idwarehouse }}">
                                {{ w.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <hr>
            <button type="submit" class="btn btn-primary col-md-12">Adicionar</button>
        </form>
    </div>
    <form
            class="allforms row"
            action="{% url 'orderSupplierCreate' %}"
            method="post"
    >
        {% csrf_token %}


        <!-- Table -->
        <div class="ordertable">
            <table class="table" id="dataTable">
                <thead>
                <tr>
                    <th scope="col">Produto</th>
                    <th scope="col">Qtd</th>
                    <th scope="col">Custo</th>
                    <th scope="col">IVA</th>
                    <th scope="col">Atualizar PVP</th>
                    <th scope="col">Total</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><input type="text" placeholder="Pesquisar produto"></td>
                    <td><input type="number" placeholder="0"></td>
                    <td><input type="number" placeholder="Preço custo"></td>
                    <td><input type="text" value="23" disabled></td>
                    <td><input type="number" placeholder="Preço Venda"></td>
                    <td><input type="number">Total</td>
                </tr>
                </tbody>
            </table>
        </div>


        <div class="form-field col-lg-12 submitBtn">
            <button type="button" class="submit-btn" onclick="sendForm()">
                Enviar
            </button>
        </div>
    </form>

    <!-- Modal -->

    <div
            class="modal fade"
            id="exampleModalCenter"
            tabindex="-1"
            role="dialog"
            aria-labelledby="modalTitle"
            aria-hidden="true"
    >
        <div
                class="modal-dialog modal-dialog-centered"
                id="modalCenter"
                role="document"
        >
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle">Criar Encomenda</h5>
                    <button
                            type="button"
                            class="close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                    >
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row modalContent" id="dropdown-container">
                        <!-- Initial Dropdowns -->
                        {% for i in "1" %}
                            <div class="col-md-4">
                                <div class="form-field">
                                    <div class="mainbox">
                                        <div class="formDrop">
                                            <select
                                                    id="families{{ i }}"
                                                    name="idfamilies{{ i }}"
                                                    class="dropstyle"
                                                    onchange="handleSelectChange(this)"
                                            >
                                                {% for f in families %}
                                                    <option
                                                            class="dropOptions"
                                                            value="{{ f.idfamily }}"
                                                            name="{{ f.name }}"
                                                    >
                                                        {{ f.name }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %} {% for i in "1" %}
                        <div class="col-md-4">
                            <div class="form-field">
                                <div class="mainbox">
                                    <div class="formDrop">
                                        <div id="componentContainer1"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-field">
                                <div class="mainbox">
                                    <div class="formDrop">
                                        <div id="quantityinput1"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>

                    <button
                            type="button"
                            class="btn addMoreBtn"
                            onclick="addMoreDropdowns()"
                    >
                        <i class="bx bx-plus-circle plusicon"></i> Adicionar mais
                    </button>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Close
                    </button>
                    <button
                            type="button"
                            class="btn btn-primary"
                            data-bs-dismiss="modal"
                            onclick="saveChanges()"
                    >
                        Salvar alterações
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script>


        // Add an event listener to the checkbox
        $(document).ready(function () {
            $('#showListDocs').change(function () {

                // If the checkbox is checked, show the hidden div; otherwise, hide it
                if (this.checked) {
                    $('#relatedDocs').show();
                } else {
                    $('#relatedDocs').hide();
                }
            });
//Handle supplier changed
            $('#supplier').change(function () {
                    console.log(this.value)
                    {#$.ajax({#}
                    {#    type: "POST",#}
                    {#    url: '{% url "familyEdit" this.value %}',#}
                    {#    data: $("#familyEditForm").serialize(),#}
                    {#    dataType: "json",#}
                    {#    success: function (data) {#}
                    {#        // Handle the success response#}
                    {#        if (data.status === "success") {#}
                    {#            Swal.fire({#}
                    {#                title: "Sucesso!",#}
                    {#                text: "Família atualizada com sucesso",#}
                    {#                icon: "success",#}
                    {#            }).then(function () {#}
                    {#                // Redirect to familyList page#}
                    {#                window.location.href = "{% url 'familyList' %}";#}
                    {#            });#}
                    {#        } else {#}
                    {#            Swal.fire({#}
                    {#                title: "Erro!",#}
                    {#                text: "Falha ao atualizar família",#}
                    {#                icon: "error",#}
                    {#            });#}
                    {#        }#}
                    {#    },#}
                    {#    error: function () {#}
                    {#        Swal.fire({#}
                    {#            title: "Erro!",#}
                    {#            text: "Falha na comunicação com o servidor",#}
                    {#            icon: "error",#}
                    {#        });#}
                    {#    },#}


                });

        });

        var counter;


        function removeRow(button) {
            // Get the closest table row (tr)
            var row = $(button).closest('tr');

            // Find the corresponding row in the modal
            var rowNumber = row.find('th').text();
            var modalRow = $("#families" + rowNumber).closest('.newrow');

            // Clear the values in the modal row
            modalRow.find('select').val('').change(); // Clear dropdown values
            modalRow.find('select').hide();
            modalRow.find('input').val(''); // Clear input values
            modalRow.find('input').hide();

            // Remove the row from the table
            row.remove();
        }

        function sendForm() {
            // Initialize an array to store the data
            let data = [];
            let header = [];

            // Get the value from the textarea
            let obsValue = $("#obs").val();

            // Get the selected values from the dropdowns
            let selectedSupplierId = $("#supplier").val();
            let selectedWarehouse = $("#warehouse").val();

            // Get all rows in the table body
            let rows = $("#dataTable tbody tr");

            // Iterate through each row and extract data
            rows.each(function (index, row) {
                let familyId = $(row).find("td:eq(0)").attr("data-family-id");
                let componentId = $(row).find("td:eq(1)").attr("data-component-id");

                let rowData = {
                    number: $(row).find("th").text(),
                    family: familyId,
                    component: componentId,
                    quantity: $(row).find("td:eq(2)").text(),
                };

                // Add the row data to the array
                data.push(rowData);
            });

            // Add other form data to the array
            header.push({
                idsupplier: selectedSupplierId,
                idwarehouse: selectedWarehouse,
                obs: obsValue,
            });

            // Log or use the gathered data
            console.log("Table data with textarea and dropdown:", data);

            // Send data to the server using AJAX
            $.ajax({
                type: "POST",
                url: "orderSupplierCreate",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    data: JSON.stringify(data),
                    header: JSON.stringify(header),
                },
                success: function (response) {
                    console.log("Data successfully sent to the server");
                    Swal.fire({
                        title: "Encomenda criada",
                        text: "Foi criada a nova encomenda ao fornecedor",
                        imageUrl: "https://static.vecteezy.com/system/resources/previews/000/350/131/original/vector-package-icon.jpg",
                        imageWidth: 200,
                        imageHeight: 200,
                        imageAlt: "https://static.vecteezy.com/system/resources/previews/000/350/131/original/vector-package-icon.jpg"
                    }).then((result) => {
                        window.location.replace("/dashboard")
                    })

                },
                error: function (error) {
                    console.error("Error sending data to the server:", error);
                },
            });
        }


        //teste
    </script>

{% endblock %}
