{% extends 'forms.html' %} {% block formContent %} {% block formTitle %}
<h1 class="title">Editar Equipamento</h1>
{% endblock %} {% if equipment %}
<form class="allforms row" method="post" action="{% url 'equipmentEdit' equipment_id %}">
  {% csrf_token %}

  <div class="form-field col-lg-6">
    <input
      id="name"
      name="name"
      class="input-text js-input"
      type="text"
      value="{{ equipment.name }}"
      required
    />
    <label class="label" for="name">Nome</label>
  </div>
  <div class="form-field col-lg-6">
    <select id="dropdown" name="idcategory" class="input-text js-input" required>
        {% for c in category %}
            <option value="{{ c.idcategory }}" {% if c.name == equipment.category %}selected{% endif %}>
                {{ c.name }}
            </option>
        {% endfor %}
    </select>
    <label class="label" for="category">Categoria</label>
</div>

  <div class="form-field col-lg-6">
      <input
              id="barcode"
              name="barcode"
              class="input-text js-input"
              type="text"
              value="{{ equipment.barcode }}"
              required
      />
      <label class="label" for="barcode">Código de Barras</label>
  </div>

   <div class="form-field col-lg-6">
            <input
                    id="reference"
                    name="reference"
                    class="input-text js-input"
                    type="text"
                    value="{{ equipment.reference }}"
                    required
            />
            <label class="label" for="reference">Referência</label>
        </div>

  <div class="form-field col-lg-12">
      <label class="areaLabel" for="description">Descrição:</label>
            <textarea
                    id="description"
                    name="description"
                    rows="4"
                    cols="97"
                    style="border: 2px solid black;"
                    required>{{ equipment.description }}</textarea><br />
        </div>

  <div class="form-field col-lg-12 submitBtn">
    <input class="submit-btn" type="submit" value="Atualizar Equipamento" />
  </div>
</form>
{% else %}
<p>Equipment not found</p>
{% endif %} {% endblock %}
