{% extends 'forms.html' %} {% block formContent %} {% block formTitle %}
<h1 class="title">Criar novo Equipamento</h1>
{% endblock %}

<form class="allforms row" action="{% url 'equipmentCreate' %}" method="post">
  {% csrf_token %}
  <div class="form-field col-lg-6">
    <input
      id="name"
      name="name"
      class="input-text js-input"
      type="text"
      required
    />
    <label class="label" for="name">Nome</label>
  </div>

  <div class="form-field col-lg-6">
    <select id="dropdown" name="families">
      {% for f in families %}
      <option value="{{ f.idfamily }}">{{ f.namefamily }}</option>
      {% endfor %}
    </select>
    <select id="dropdown" name="families">
      {% for w in warehouse %}
      <option value="{{ w.idwarehouse }}">{{ w.name }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-field col-lg-6">
    <input
      id="name"
      name="name"
      class="input-text js-input"
      type="text"
      required
    />
    <label class="label" for="name">Custo de Produção</label>
  </div>
  <div class="form-field col-lg-12">
    <input
      id="obs"
      name="obs"
      class="input-text js-input"
      type="text"
      required
    />
    <label class="label" for="obs">Observações</label>
  </div>

  <div class="form-field col-lg-12 submitBtn">
    <input class="submit-btn" type="submit" value="Criar Fornecedor" />
  </div>
</form>

{% endblock %}
