{% extends 'forms.html' %} {% block formContent %} {% block formTitle %}
<h1 class="title">Criar novo Equipamento</h1>
{% endblock %}

<form class="allforms row" action="{% url 'equipmentCreate' %}" method="post">
  {% csrf_token %}
  <div class="form-field col-lg-6">
    <input
      id="name"
      name="name"
      class="input-text js-input"
      type="text"
      required
    />
    <label class="label" for="name">Nome</label>
  </div>

  <div class="form-field col-lg-6">
        <select id="dropdown" name="category" class="input-text js-input">
        <option value="" style="display: none;" selected></option>{% for c in category   %}
      <option value="{{ c.idcategory }}">{{ c.name }}</option>
      {% endfor %}
    </select>
    <label class="label" for="category">Categoria</label>
  </div>

        <div class="form-field col-lg-6">
            <input
                    id="barcode"
                    name="barcode"
                    class="input-text js-input"
                    type="text"
                    required
            />
            <label class="label" for="barcode">Código de Barras</label>
        </div>

        <div class="form-field col-lg-6">
            <input
                    id="reference"
                    name="reference"
                    class="input-text js-input"
                    type="text"
                    required
            />
            <label class="label" for="reference">Referência</label>
        </div>

  <div class="form-field col-lg-12">
      <label class="arealabel" for="description">Descrição</label>
            <textarea
                    id="description"
                    name="description"
                    rows="4"
                    cols="97"
                    style="border: 2px solid black;"
                    required></textarea><br />
        </div>

  <div class="form-field col-lg-12 submitBtn">
    <input class="submit-btn" type="submit" value="Criar Equipamento" />
  </div>
</form>

{% endblock %}
