{% extends 'forms.html' %} {% block formContent %} {% block formTitle %}
<h1 class="title">Editar Família</h1>
{% endblock %} {% if family %}
<form
  id="familyEditForm"
  class="allforms row"
  method="post"
  action="{% url 'familyEdit' idfamily %}"
>
  {% csrf_token %}

  <div class="form-field col-lg-12">
    <input
      id="name"
      name="name"
      class="input-text js-input"
      type="text"
      value="{{ family.name }}"
      required
    />
    <label class="label" for="name">Nome</label>
  </div>

  <div class="form-field col-lg-12">
    <label class="areaLabel" for="obs">Observações:</label>
    <textarea id="description"
              name="description"
              rows="4"
              cols="97"
              style="border: 2px solid black;">{{ family.description }}</textarea
    ><br />
  </div>

  <div class="form-field col-lg-12 submitBtn">
    <button
      id="updateFamilyBtn"
      class="submit-btn"
      type="button"
    >
      Atualizar Família
    </button>
  </div>
</form>


{% else %}
<p>Family not found</p>
{% endif %} {% endblock %}
