{% extends 'base_template.html' %} {%block extra_css%} {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/tables.css' %}" />
{%endblock%}{% block content %}

<div class="listContainer">
  <h1>Lista de Familias</h1>
  <table id="suppliersTable" class="display">
    <thead>
      <tr>
        
        <th>Nome</th>
        <th>Descrição</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for f in families %}
      <tr>
        <td>{{ f.name }}</td>
        <td>{{ f.description }}</td>
        <td>
          <button
            type="button"
            class="btn btn-success"
            data-bs-toggle="modal"
            data-bs-target="#exampleModalCenter"
            onclick="fillModal('{{f.idfamily}}', '{{f.name}}', '{{f.description}}')"
          >
            Editar
          </button>
          <button
          type="button"
          class="btn btn-danger"
          onclick="alertDelete('{{f.idfamily}}')"
        >
          Eliminar
        </button>
        
        </td>
      </tr>

      {% endfor %}
    </tbody>
  </table>
  <div
    class="modal fade"
    id="exampleModalCenter"
    tabindex="-1"
    role="dialog"
    aria-labelledby="modalTitle"
    aria-hidden="true"
  >
    <div
      class="modal-dialog modal-dialog-centered"
      id="modalCenter"
      role="document"
    >
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalTitle">Editar</h5>
          <button
            type="button"
            class="close"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="content">
            <form action="#" method="post">
              Nome:<br />
              <input
                type="text"
                name="name"
                id="modalName"
                class="modalInput"
              /><br />
              Descrição:<br />
              <textarea  
                type="text"
                name="description"
                id="modalDescription"
                class="modalAreaEdit"
                rows="4"
              ></textarea><br />
            </form>
            </div>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button
              type="button"
              class="btn btn-primary"
              data-bs-dismiss="modal"
              onclick="saveChanges()"
            >
              Salvar alterações
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    function alertDelete(id) {
       
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
              confirmButton: "btn btn-danger",
              cancelButton: "btn btn-primary"
            },
            buttonsStyling: false
          });
          swalWithBootstrapButtons.fire({
            title: "Tem certeza?",
            text: "Não poderá reverter esta ação!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonText: "Sim, Eliminar!",
            cancelButtonText: "Não, cancelar!",
        
          }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    type: "POST",
                    url: "familyEdit",  
                    data: { 
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        id: id 
                    },
                    success: function(response) {
                        Swal.fire({
                            icon: "success",
                            title: "Dado Eliminadado",
                            showConfirmButton: true,
                          }).then((result) => {
                            if (result.isConfirmed) {
                              location.reload();
                            }
                          });
                          
                    },
                    error: function(error) {
                        Swal.fire({
                            icon: "error",
                            title: "Oops...",
                            text: "Algo Correu Mal",                         
                          });
                    }
                  });
            } else if (
              /* Read more about handling dismissals below */
              result.dismiss === Swal.DismissReason.cancel
            ) {
              swalWithBootstrapButtons.fire({
                title: "Cancelled",
                text: "Your imaginary file is safe :)",
                icon: "error"
              });
            }
          });




      }

    function fillModal(id, name, description) {
      document.getElementById("modalId").value = id;
      document.getElementById("modalName").value = name;
      document.getElementById("modalDescription").value = description;
    }
    $(document).ready(function () {
      $("#suppliersTable").DataTable({
        dom: "Bfrtip",
        buttons: ["copyHtml5", "excelHtml5", "csvHtml5", "pdfHtml5"],
        language: {
          url: "//cdn.datatables.net/plug-ins/1.13.7/i18n/pt-PT.json",
        },
      });
    });
  </script>

  {% endblock %}
</div>
