{% extends 'base_template.html' %} {%block extra_css%} {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/tables.css' %}" />
{%endblock%}{% block content %}

<div class="listContainer">
  <h1>Lista de Familias</h1>
  <table id="suppliersTable" class="display">
    <thead>
      <tr>
        
        <th>Nome</th>
        <th>Descrição</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for f in families %}
      <tr>
        <td>{{ f.name }}</td>
        <td>{{ f.description }}</td>
        <td>
            <button type="button" class="btn btn-danger" onclick="alertDelete('{{f.idfamily}}')">Eliminar</button>
          <a href="{% url 'familyEdit' family_id=f.idfamily %}" class="btn btn-warning">Editar</a>
        </td>
      </tr>

      {% endfor %}
    </tbody>
  </table>
 
  </div>

  <script>
    function alertDelete(id) {
       
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
              confirmButton: "btn btn-danger",
              cancelButton: "btn btn-primary"
            },
            buttonsStyling: true
          });
          swalWithBootstrapButtons.fire({
            title: "Tem certeza?",
            text: "Não poderá reverter esta ação!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonText: "Sim, Eliminar!",
            cancelButtonText: "Não, cancelar!",
        
          }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    type: "POST",
                    url: "familyDelete",
                    data: { 
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        id: id 
                    },
                    success: function(response) {
                        Swal.fire({
                            icon: "success",
                            title: "Familia Eliminada",
                            showConfirmButton: true,
                          }).then((result) => {
                            if (result.isConfirmed) {
                              location.reload();
                            }
                          });
                          
                    },
                    error: function(error) {
                        Swal.fire({
                            icon: "error",
                            title: "OOPS...",
                            text: "Ocorreu algo inesperado",
                          });
                    }
                  });
            } else if (
              /* Read more about handling dismissals below */
              result.dismiss === Swal.DismissReason.cancel
            ) {
              swalWithBootstrapButtons.fire({
                title: "Cancelado",
                text: "Nenhuma alteração foi feita",
                icon: "error"
              });
            }
          });
      }


    $(document).ready(function () {
      $("#suppliersTable").DataTable({
        dom: "Bfrtip",
        buttons: ["copyHtml5", "excelHtml5", "csvHtml5", "pdfHtml5"],
        language: {
          url: "//cdn.datatables.net/plug-ins/1.13.7/i18n/pt-PT.json",
        },
      });
    });
  </script>

  {% endblock %}
</div>
