{% extends 'forms.html' %} {% block formContent %} {% block formTitle %}
<h1 class="title">Criar Nova Familia</h1>
{% endblock %}

<form class="allforms row" action="{% url 'familyCreate' %}" method="post">
  {% csrf_token %}
  <div class="form-field col-lg-12">
    <input
      id="name"
      name="name"
      class="input-text js-input"
      type="text"
      required
    />
    <label class="label" for="name">Nome</label>
  </div>
  <div class="form-field col-lg-12"><label class="areaLabel" for="obs">Observações:</label>
    <textarea
      id="obs"
      name="desc"
      rows="4"
      cols="97"
      style="border: 2px solid black;"
      required></textarea><br />
  </div>

  <div class="form-field col-lg-12 submitBtn">
    <input class="submit-btn" type="submit" value="Criar Familia" />
  </div>
</form>
{% endblock %}
