<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>ByteBridges</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.bootstrap.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/mainPage.css' %}" />
  </head>
  <body>
    <!-- ======= Header ======= --->
    <nav class="navbar navbar-expand-lg navbarColor">
      <div class="container">
        <a class="navbar-brand" href="#!">LOGO</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link Login" aria-current="page" href="{% url 'login' %}"
                >Login</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <header class="headerImg">
      <div class="text-center my-5">
        <img
          class="img-fluid rounded-circle mb-4"
          src="https://dummyimage.com/150x150/6c757d/dee2e6.jpg"
          alt="..."
        />
      </div>
    </header>
    <section class="py-5">
      <div class="container my-5">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <h2>
              ByteBridges: Elevando Seu Negócio, Potencializando o Futuro!
            </h2>
            <p class="lead">
              Na ByteBridges, entendemos que o coração do seu negócio reside na
              tecnologia que impulsiona cada transação, cria oportunidades e
              constrói experiências excepcionais para seus clientes. Como
              líderes no fornecimento de soluções computacionais para lojas,
              estamos aqui para potencializar o seu sucesso.
            </p>
            <h3>Por que escolher a ByteBridges?</h3>
            <p>
              <b>Inovação Tecnológica:</b>
              <br />Equipamos seu negócio com as mais recentes e poderosas
              tecnologias, mantendo-o à frente da concorrência. <br />
            </p>
            <p>
              <b>Soluções Personalizadas:</b>
              <br />Compreendemos que cada loja é única. Nossos especialistas
              trabalham em estreita colaboração para oferecer soluções adaptadas
              às suas necessidades específicas.
            </p>
          </div>
        </div>
      </div>
    </section>
    <div class="secondImage"></div>
    <section class="py-5">
      <div class="container my-5">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <h2>Objetivos:</h2>
            <p class="lead">
              Este trabalho foi realizado no âmbito da unidade curricular de
              Bases de Dados II, do 3º ano do curso de Engenharia Informática da
              Universidade de Viseu.
            </p>
            <p class="mb-0">
              O principal objetivo deste trabalho é o desenvolvimento de uma
              plataforma de suporte aos processos anteriormente mencionados. A
              plataforma em causa deverá basear a sua interface para o
              utilizador através de tecnologias web. Os dados e as operações
              sobre estes deverão ser suportados por Sistemas de Gestão de Bases
              de Dados (SGBD). Têm de ser utilizados os SGBD PostgreSQL e
              MongoDB.
            </p>
            <h2>Requisitos Funcionais:</h2>
            <ol>
              <li>
                Registo de dados sobre aquisição e armazenamento de componentes.
              </li>
              <li>Consultas diversas de dados relativos às componentes.</li>
              <li>Gestão de stock de componentes.</li>
              <li>Gestão de fornecedores.</li>
              <li>
                Listagens de diversa natureza, como componentes em stocks.
              </li>
              <li>Exportação de encomendas a fornecedores (JSON ou XML).</li>
              <li>Importação de componentes (JSON ou XML).</li>
              <li>Cada equipamento tem um tipo.</li>
              <li>Criação de equipamentos.</li>
              <li>
                Gestão da produção de equipamentos: componentes e mão de obra
                utilizada.
              </li>
              <li>
                A mão de obra pode ser de vários tipos, e o tipo tem um custo
                associado.
              </li>
              <li>Gestão do valor de custo de equipamentos.</li>
              <li>Listagens de diversa natureza, como produção, stock, etc.</li>
              <li>Venda de equipamentos.</li>
              <li>Gestão de clientes.</li>
              <li>
                Listagens de diversa natureza, como clientes e vendas de
                equipamentos.
              </li>
            </ol>
            <h2>Requisitos Não Funcionais:</h2>
            <ol>
              <li>
                Todos os dados relativos a operações transacionais deverão ser
                armazenados no SGBD PostgreSQL.
              </li>
              <li>
                Um determinado dado só pode ser armazenado em um dos dois SGBD.
              </li>
              <li>
                Os dados apresentados ao cliente sobre produtos são armazenados
                no SGBD MongoDB.
              </li>
              <li>
                Caso sejam atributos da tabela de equipamentos existente no
                PostgreSQL, no atributo deve ser colocada a `_pgsidcampo` (sendo
                idcampo o nome do campo da tabela de equipamentos existente no
                SGBD PostgreSQL).
              </li>
              <li>
                A lista de atributos dos equipamentos com a informação a
                apresentar ao cliente deve ser dinâmica.
              </li>
              <li>
                A lista de atributos para cada equipamento é criada quando se
                coloca o produto em comercialização.
              </li>
              <li>
                Nesta lista podem-se colocar atributos da Base de Dados do
                PostgreSQL ou novos atributos.
              </li>
              <li>
                Ao definir novos atributos, faz a sua especificação através do
                par “Atributo / Valor de atributo”.
              </li>
              <li>
                Todas as interfaces gráficas devem ser desenvolvidas com recurso
                à framework Django.
              </li>
              <li>A plataforma tem de ter vários perfis de utilizador.</li>
              <li>
                Todos os objetos da base de dados devem ser cobertos por testes.
              </li>
              <li>
                As interfaces gráficas desenvolvidas para a plataforma web devem
                ser funcionais e apelativas.
              </li>
              <li>
                Para o controlo de versões do projeto deve ser usado o git.
              </li>
            </ol>
          </div>
        </div>
      </div>
    </section>
    <div class="thirdImage"></div>
    <section class="py-5">
      <h5 class="groupTitle">Grupo de Trabalho:</h5>
      <div class="container">
        <div class="card-group vgr-cards">
          <div class="card">
            <div class="card-img-body">
              <img
                class="card-img"
                src="https://media.licdn.com/dms/image/C4E03AQHEQKc8teZFDw/profile-displayphoto-shrink_800_800/0/1549532963226?e=1707955200&v=beta&t=cdeZPE10qnW9AHB3tdpX-O1IdtPVe7IK9rhJYOVzOHM"
                alt="Card image cap"
              />
            </div>
            <div class="card-body">
              <h4 class="card-title"><b>André Rodrigues</b></h4>
              <p class="card-text">
                12º em Multimédia, CTeSP em Redes e Sistemas Informáticos e
                atualmente a estudar Engenharia Informática. Não tenho problemas
                em aprender novos conceitos de programação e gosto de trabalhar
                em equipa. <br />
                Neste momento, estou a concluir o último ano da Licenciatura em
                Engenharia Informática no Instituto Politécnico de Viseu.
                Durante este percurso, tenho estado envolvido em vários
                projetos, adquirindo diversas competências tanto em programação
                como na resolução de problemas e análise de sistemas.
                <br />

                Tenho como meta fazer parte de uma equipa dinâmica e
                colaborativa, com a intenção de desenvolver as minhas
                competências à medida que progrido na minha carreira, num
                ambiente estimulante.
              </p>
            </div>
          </div>
          <div class="card">
            <div class="card-img-body">
              <img
                class="card-img"
                src="https://scontent.fopo4-2.fna.fbcdn.net/v/t1.18169-9/10455868_714647911910180_7802208936980239409_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=7a1959&_nc_eui2=AeFF_9i2HbUsShJUkNQjhe-TRNtiJSW_NJxE22IlJb80nEepwJpbM8rbOds9AHQaQQcJVWnaHhC_ZCl0AqpxHA-I&_nc_ohc=8lDC_43kqq8AX8RgWHg&_nc_ht=scontent.fopo4-2.fna&oh=00_AfC1yvnpAxKpsEYdwwpD4N8B8zxUtOaEGkcH8yZe0S7QfA&oe=65A51ADA"
                alt="Card image cap"
              />
            </div>
            <div class="card-body">
              <h4 class="card-title"><b>Hugo Santos</b></h4>
              <p class="card-text">
                Olá, meu nome é Hugo Santos, um entusiasta de Engenharia
                Informática. Estou constantemente em busca de desafios
                tecnológicos e oportunidades inovadoras para criar soluções. No
                âmbito profissional, meu foco está na concepção de soluções
                tecnológicas, explorando oportunidades desafiadoras para aplicar
                os princípios da Engenharia Informática. Tenho o objetivo de
                integrar-me em uma equipe dinâmica e colaborativa, buscando
                aprimorar minhas habilidades à medida que cresço
                profissionalmente em um ambiente estimulante.
              </p>
            </div>
          </div>
          <div class="card">
            <div class="card-img-body">
              <img
                class="card-img"
                src="https://scontent.fopo4-2.fna.fbcdn.net/v/t1.18169-9/12645261_966221400121691_2166156678583406497_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=be3454&_nc_eui2=AeH1WhBVsBfVDGabg5D72nBOyYfD5B1IYAPJh8PkHUhgA1GrZKWlYoZ73GvWpwkHj9hTah9Z9r4QiVlDvdVZKFCx&_nc_ohc=A-qZCvhLSiQAX-HfF3U&_nc_ht=scontent.fopo4-2.fna&oh=00_AfCEkByYziv4rC2L8GuPpIrhs-hUAm38th8gEtFyq9IyMA&oe=65A51CA3"
                alt="Card image cap"
              />
            </div>
            <div class="card-body">
              <h4 class="card-title"><b>Miguel Costa</b></h4>
              <p class="card-text">
                Olá, eu sou o Miguel Costa, um entusiasta de Engenharia
                Informática. Estou sempre à procura de desafios tecnológicos e
                oportunidades inovadoras para criar soluções. No meu percurso
                profissional, pretendo integrar-me numa equipa dinâmica,
                colaborativa e evoluir constantemente. A minha abordagem vai
                além do desenvolvimento de software, combinando pensamento
                analítico, resolução de problemas e criatividade para oferecer
                soluções que superem expectativas. A minha paixão por aprender
                garante que estou atualizado nas últimas tendências e
                tecnologias.
              </p>
            </div>
          </div>
          <div class="card">
            <div class="card-img-body">
              <img
                class="card-img"
                src="https://media.licdn.com/dms/image/D4D35AQENHPIPM5XU1A/profile-framedphoto-shrink_800_800/0/1702409616195?e=1703336400&v=beta&t=5wE3gJcyxg1K_dz6M0rt01FOtb-5gZVZ3AH4HiouQWs"
                alt="Card image cap"
              />
            </div>
            <div class="card-body">
              <h4 class="card-title"><b>Paulo Cabral</b></h4>
              <p class="card-text">
                Sou o Paulo, um estudante dedicado de Engenharia Informática,
                apaixonado por desafios tecnológicos e inovação. <br />
                Os meus objetivos a nivel profissional focam-se na criação de
                soluções tecnologicas, através da exploração de oportunidades
                desafiadoras que permitam aplicar conceitos de Engenharia
                Informática. Procuro também integrar-me numa equipa dinâmica e
                colaborativa, de forma a melhorar as minhas habilidades à medida
                que cresço profissionalmente num ambiente adequado. <br />
                A minha abordagem vai além do simples desenvolvimento de
                software. Ofereço uma combinação de pensamento analítico,
                capacidade de resolução de problemas e criatividade.
                Comprometo-me a fornecer soluções inovadoras que não apenas
                atendam, mas ultrapassem as expectativas. A minha paixão por
                aprender e evoluir constantemente garante que estou sempre
                interessado nas últimas tendências e tecnologias.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
