{% extends 'forms.html' %} {% block formContent %} {% block formTitle %}
<h1 class="title">Criar nova Mão de Obra</h1>
{% endblock %}


<form class="allforms row" action="{% url 'laborCreate' %}" method="post">
  {% csrf_token %}

  <div class="form-field col-lg-6">
    <input
      id="name"
      name="name"
      class="input-text js-input"
      type="text"
      required
    />
    <label class="label" for="name">Nome</label>
  </div>
  <div class="form-field col-lg-6">
    <input
      id="hourrate"
      name="hourrate"
      class="input-text js-input"
      type="text"
      required
    />
    <label class="label" for="hourrate">Preço/hora</label>
  </div>


  <div class="form-field col-lg-12 submitBtn">
    <input class="submit-btn" type="submit" value="Criar Mão de Obra" />
  </div>
</form>

{% endblock %}
