{% extends 'base_template.html' %} {%block extra_css%} {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/tables.css' %}" />
{%endblock%}{% block content %}

<div class="listContainer">
  <h1>Gerir Mão de Obra</h1>

  <table id="clientsTable" class="display">
    <thead>
      <tr>
        <th>Escalão</th>
        <th>Preço/hora</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for l in labors %}
      <tr>
        <td>{{ l.name }}</td>
        <td>{{ l.hourrate }}</td>
        <td>
            <button type="button" class="btn btn-danger" onclick="alertDelete('{{l.idlabor}}')">Eliminar</button>
            <a class="btn btn-warning" href="{% url 'laborEdit' labor_id=l.idlabor %}">Editar</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script>

function alertDelete(id) {

        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
              confirmButton: "btn btn-danger",
              cancelButton: "btn btn-primary"
            },
            buttonsStyling: true
          });
          swalWithBootstrapButtons.fire({
            title: "Tem certeza?",
            text: "Não poderá reverter esta ação!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonText: "Sim, Eliminar!",
            cancelButtonText: "Não, cancelar!",

          }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    type: "POST",
                    url: "laborDelete",
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        id: id
                    },
                    success: function(response) {
                        Swal.fire({
                            icon: "success",
                            title: "Mão de Obra Eliminada",
                            showConfirmButton: true,
                          }).then((result) => {
                            if (result.isConfirmed) {
                              location.reload();
                            }
                          });

                    },
                    error: function(error) {
                        Swal.fire({
                            icon: "error",
                            title: "OOPS...",
                            text: "Ocorreu algo inesperado",
                          });
                    }
                  });
            } else if (
              /* Read more about handling dismissals below */
              result.dismiss === Swal.DismissReason.cancel
            ) {
              swalWithBootstrapButtons.fire({
                title: "Cancelado",
                text: "Nenhuma alteração foi feita",
                icon: "error"
              });
            }
          });

      }


  $(document).ready(function () {
    $("#clientsTable").DataTable({
      dom: "Bfrtip",
      buttons: ["copyHtml5", "excelHtml5", "csvHtml5", "pdfHtml5"],
      language: {
        url: "//cdn.datatables.net/plug-ins/1.13.7/i18n/pt-PT.json",
      },
    });
  });
</script>

{% endblock %}
