<!-- sellList.html -->
{% extends 'base_template.html' %} {% block extra_css %} {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/tables.css' %}" />
{% endblock %} {% block content %}

<div class="listContainer">
  <h1>Lista de Encomendas de Clientes</h1>
  <table id="suppliersTable" class="display">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nº Documento</th>
        <th>Nome Cliente</th>
        <th>Data de encomenda</th>
        <th>Data de vencimento</th>
        <th>Estado encomenda</th>
      </tr>
    </thead>
    <tbody>
      {% for s in sales %}
      <tr>
        <td>{{ s.iddocument }}</td>
        <td>{{ s.documentnumber }}</td>
        <td>{{ s.name }}</td>
        <td>{{ s.date|date:"Y-m-d" }}</td>
        <td>{{ s.duedate|date:"Y-m-d" }}</td>
        <td>{% if s.status %} Complete {% else %} Processando {% endif %}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<script>
  $(document).ready(function () {
    $("#suppliersTable").DataTable({
      dom: "Bfrtip",
      buttons: ["copyHtml5", "excelHtml5", "csvHtml5", "pdfHtml5"],
      language: {
        url: "//cdn.datatables.net/plug-ins/1.13.7/i18n/pt-PT.json",
      },
    });
  });
</script>

{% endblock %}
