{% extends 'forms.html' %} {% block formContent %} {% block formTitle %}
    <h1 class="title">Criar nova Encomenda</h1>
{% endblock %}

    <form
            class="allforms row"
            action="{% url 'orderSupplierCreate' %}"
            method="post"
    >
        {% csrf_token %}

        <div class="form-field col-lg-6">

            <select id="supplier" name="idsupplier" class="input-text js-input">
                <option value="" style="display: none;" selected></option>
                Escolha um Fornecedor
                </option>
                {% for s in suppliers %}
                    <option value="{{ s.idsupplier }}">{{ s.name }}</option>
                {% endfor %}
            </select>
            <label class="label" for="idsupplier">Fornecedor</label>
        </div>

        <div class="form-field col-lg-6">
            <select id="warehouse" name="idwarehouse" class="input-text js-input">
                <option value="" style="display: none;" selected></option>
                Escolha um Armazém
                </option>
                {% for w in warehouses %}
                    <option value="{{ w.idwarehouse }}">{{ w.name }}</option>
                {% endfor %}
            </select>
            <label class="label" for="idwarehouse">Armazém</label>
        </div>

        <div class="form-field col-lg-12">
            <label class="areaLabel" for="obs">Observações adicionais:</label>
            <textarea id="obs"
                      name="obs"
                      rows="4"
                      cols="97"
                      style="border: 2px solid black;"
                      required></textarea><br/>
        </div>
        <!-- Table -->
        <div class="ordertable">
            <table class="table" id="dataTable">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Familia</th>
                    <th scope="col">Componente</th>
                    <th scope="col">Quantidade</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="form-field col-lg-12 submitBtn">
            <button
                    type="button"
                    class="submit-btn"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModalCenter"
            >
                Escolher Produtos
            </button>
        </div>

        <div class="form-field col-lg-12 submitBtn">
            <button type="button" class="submit-btn" onclick="sendForm()">
                Enviar
            </button>
        </div>
    </form>

    <!-- Modal -->

    <div
            class="modal fade"
            id="exampleModalCenter"
            tabindex="-1"
            role="dialog"
            aria-labelledby="modalTitle"
            aria-hidden="true"
    >
        <div
                class="modal-dialog modal-dialog-centered"
                id="modalCenter"
                role="document"
        >
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle">Criar Encomenda</h5>
                    <button
                            type="button"
                            class="close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                    >
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row modalContent" id="dropdown-container">
                        <!-- Initial Dropdowns -->
                        {% for i in "1" %}
                            <div class="col-md-4">
                                <div class="form-field">
                                    <div class="mainbox">
                                        <div class="formDrop">
                                            <select
                                                    id="families{{ i }}"
                                                    name="idfamilies{{ i }}"
                                                    class="dropstyle"
                                                    onchange="handleSelectChange(this)"
                                            >
                                                <option value="" disabled selected>
                                                    Selecione uma Familia
                                                </option>
                                                {% for f in families %}
                                                    <option
                                                            class="dropOptions"
                                                            value="{{ f.idfamily }}"
                                                            name="{{ f.name }}"
                                                    >
                                                        {{ f.name }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %} {% for i in "1" %}
                        <div class="col-md-4">
                            <div class="form-field">
                                <div class="mainbox">
                                    <div class="formDrop">
                                        <div id="componentContainer1"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-field">
                                <div class="mainbox">
                                    <div class="formDrop">
                                        <div id="quantityinput1"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>

                    <button
                            type="button"
                            class="btn addMoreBtn"
                            onclick="addMoreDropdowns()"
                    >
                        <i class="bx bx-plus-circle plusicon"></i> Adicionar mais
                    </button>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Close
                    </button>
                    <button
                            type="button"
                            class="btn btn-primary"
                            data-bs-dismiss="modal"
                            onclick="saveChanges()"
                    >
                        Salvar alterações
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script>
        var counter;

        function updateArticlesAndComponents(selectedValue) {
            console.log("Selected value:", selectedValue);
        }

        function handleSelectChange(selectElement) {
            var selectedValue = selectElement.value;
            callComponents(selectedValue);

            // Find the closest parent row of the select element
            var parentRow = $(selectElement).closest('.newrow');

            // Get the ID of the associated input
            var inputId = parentRow.find('.modalInput').attr('id');

            // Show the associated input by adjusting the style display
            $("#" + inputId).css('display', 'block');
        }

        function callComponents(familyId) {
            counter = $(".row.modalContent").length;
            $.ajax({
                url: "get_articles/",
                type: "GET",
                data: {family_id: familyId},
                success: function (data) {
                    var componentContainer = $("#componentContainer" + counter);
                    componentContainer.empty();

                    var newSelect = $("<select>", {
                        id: "compo" + counter,
                        name: "idcompo" + counter,
                        class: "dropstyle",
                        onchange: function () {
                            updateArticlesAndComponents(this.value);
                        },
                        style: "display: none;",
                    });

                    newSelect.append("<option class='dropOptions' value='' disabled selected>Escolha um Componente</option>");

                    // Append the new options to the new select element with name attribute
                    data.articles.forEach(function (article) {
                        newSelect.append("<option class='dropOptions' value='" + article.idarticle + "' name='" + article.name + "'>" + article.name + "</option>");

                    });

                    componentContainer.append(newSelect);

                    var newInput = $("<input>", {
                        type: "text",
                        id: "quantityInput" + counter,
                        name: "quantityInput" + counter,
                        class: "modalInput",
                        placeholder: "Enter quantity",
                        style: "display: none;",
                    });

                    var quantityinput = $("#quantityinput" + counter);
                    quantityinput.empty().append(newInput);

                    newSelect.css('display', 'block');
                    newInput.css('display', 'block');
                },
                error: function (error) {
                    console.error("Error fetching components:", error);
                },
            });
        }

        function addMoreDropdowns() {
            // Increment the counter for creating unique IDs
            counter = $(".row.modalContent").length + 1;

            // Create a new row
            var newRow = $('<div class="row newrow modalContent"></div>');

            // Create a column for the family dropdown
            var familyColumn = $('<div class="col-md-4"></div>');
            var familyDropdown = $(
                '<div class="form-field"><div class="mainbox"><div class="formDrop">' +
                '<select id="families' +
                counter +
                '" name="idfamilies' +
                counter +
                '" class="dropstyle" onchange="handleSelectChange(this)">' +
                '<option class="dropOptions" value="" disabled selected>Escolha uma Família</option>' +
                '</select></div></div></div>'
            );

            // Append the options for families
            {% for f in families %}
                familyDropdown.find('select').append('<option class="dropOptions" value="{{ f.idfamily }}" name="{{f.name }}">{{ f.name }}</option>');
            {% endfor %}

            familyColumn.append(familyDropdown);
            newRow.append(familyColumn);

            // Create a column for the component dropdown
            var componentColumn = $('<div class="col-md-4"></div>');

            var componentDropdown = $("<div class='form-field'><div class='mainbox'><div class='formDrop'>" +
                "<div id='componentContainer" + counter + "'><select id='compo" + counter + "' name='idcompo" + counter + "' class='dropstyle' onchange='updateArticlesAndComponents(this.value)' style='display: none;'>" +
                "<option class='dropOptions' value='' disabled selected>Escolha um Componente</option></select></div></div></div></div>");

            // Append the new dropdown to the current column
            {% for c in components %}
                componentDropdown.find('select').append('<option class="dropOptions" value="{{ c.idcomponent }}" name="{{ c.name }}">{{ c.name }}</option>');
            {% endfor %}

            componentColumn.append(componentDropdown);

            // Append the new column to the new row
            newRow.append(componentColumn);

            // Create a column for the input field
            var inputColumn = $('<div class="col-md-4"></div>');
            // Create a new input element
            var newInput = $("<input>", {
                type: "text",
                id: "quantityInput" + counter,
                name: "quantityInput" + counter,
                class: "modalInput",
                placeholder: "Enter quantity",
                style: "display: none;",
            });

            // Append the new input element to the current column
            inputColumn.append(newInput);

            // Append the new column to the new row
            newRow.append(inputColumn);

            // Append the new row to the existing dropdown container
            $("#dropdown-container").append(newRow);
        }

        function saveChanges() {
            // Clear the existing content in the table body
            $("#dataTable tbody").empty();

            // Iterate through the dropdowns in the modal
            for (let i = 1; i <= counter; i++) {
                let familyId = $("#families" + i).val();
                let familyText = $("#families" + i + " option:selected").text();
                let componentId = $("#compo" + i).val();
                let componentText = $("#compo" + i + " option:selected").text();
                let quantity = $("#quantityInput" + i).val();

                // Check if a family is selected
                if (familyId !== null && componentId !== null && quantity !== "") {
                    // Append a new row to the table with the selected values
                    $("#dataTable tbody").append(
                        "<tr>" +
                        '<th scope="row">' +
                        i +
                        "</th>" +
                        "<td data-family-id='" + familyId + "'>" +
                        "ID: " + familyId + "<br>" +
                        "Familia: " + familyText +
                        "</td>" +
                        "<td data-component-id='" + componentId + "'>" +
                        "ID: " + componentId + "<br>" +
                        "Componente: " + componentText +
                        "</td>" +
                        "<td>" +
                        quantity +
                        "</td>" +
                        "<td><button type='button' class='btn btn-danger btn-remove' onclick='removeRow(this)'>Remove</button></td>" +
                        "</tr>"
                    );
                }
            }
        }


        function removeRow(button) {
            // Get the closest table row (tr)
            var row = $(button).closest('tr');

            // Find the corresponding row in the modal
            var rowNumber = row.find('th').text();
            var modalRow = $("#families" + rowNumber).closest('.newrow');

            // Clear the values in the modal row
            modalRow.find('select').val('').change(); // Clear dropdown values
            modalRow.find('select').hide();
            modalRow.find('input').val(''); // Clear input values
            modalRow.find('input').hide();

            // Remove the row from the table
            row.remove();
        }

        function sendForm() {


            // Initialize an array to store the data
            let data = [];
            let header = [];

            // Get the value from the textarea
            let obsValue = $("#obs").val();

            // Get the selected values from the dropdowns
            let selectedSupplierId = $("#supplier").val();
            let selectedWarehouse = $("#warehouse").val();

            // Get all rows in the table body
            let rows = $("#dataTable tbody tr");
            console.log(selectedSupplierId)
            console.log(selectedWarehouse)

            if (selectedSupplierId==="" || selectedWarehouse==="" || rows==="") {
                Swal.fire({
                    position: "top-end",
                    icon: "error",
                    title: "Necessita de escolher todos as opções disponíveis!",
                    showConfirmButton: false,
                    timer: 1500
                })
            } else {
                // Iterate through each row and extract data
                rows.each(function (index, row) {
                    let familyId = $(row).find("td:eq(0)").attr("data-family-id");
                    let componentId = $(row).find("td:eq(1)").attr("data-component-id");

                    let rowData = {
                        number: $(row).find("th").text(),
                        family: familyId,
                        component: componentId,
                        quantity: $(row).find("td:eq(2)").text(),
                    };

                    // Add the row data to the array
                    data.push(rowData);
                });

                // Add other form data to the array
                header.push({
                    idsupplier: selectedSupplierId,
                    idwarehouse: selectedWarehouse,
                    obs: obsValue,
                });

                // Log or use the gathered data
                console.log("Table data with textarea and dropdown:", data);

                // Send data to the server using AJAX
                $.ajax({
                    type: "POST",
                    url: "orderSupplierCreate",
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        data: JSON.stringify(data),
                        header: JSON.stringify(header),
                    },
                    success: function (response) {
                        console.log("Data successfully sent to the server");
                        Swal.fire({
                            title: "Encomenda criada",
                            text: "Foi criada a nova encomenda ao fornecedor",
                            imageUrl: "https://static.vecteezy.com/system/resources/previews/000/350/131/original/vector-package-icon.jpg",
                            imageWidth: 200,
                            imageHeight: 200,
                            imageAlt: "https://static.vecteezy.com/system/resources/previews/000/350/131/original/vector-package-icon.jpg"
                        }).then((result) => {
                            window.location.replace("/dashboard")
                        })

                    },
                    error: function (error) {
                        console.error("Error sending data to the server:", error);
                    },
                });
            }


        }


        //teste
    </script>

{% endblock %}