{% extends 'base_template.html' %} {% block extra_css %} {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/invoice.css' %}"/>
{% endblock %}{% block content %}
    <div class="invoice-container">
        <div class="col-md-12">
            <div class="col-lg-6">
                <button class="btn btn-primary" id="export_pdf"><i class="fa-solid fa-file-pdf"></i>
                </button>
                <button class="btn btn-primary" id="send_email"><i class="fa-solid fa-paper-plane"></i>
                </button>
            </div>
            <script>
                var doc = new jsPDF({
                    unit: 'mm',
                    format: 'a4',
                    orientation: 'portrait'
                });

                var specialElementHandlers = {
                    '#editor': function (element, renderer) {
                        return true;
                    }
                };

                $(document).ready(function () {
                    setTimeout(function () {
                        $('#export_pdf').click(function () {
                            html2canvas(document.getElementById('invoice_content'), {
                                useCORS: true,
                            }).then(function (canvas) {
                                var imgData = canvas.toDataURL('image/png');
                                doc.addImage(imgData, 'PNG', 15, 15, 180, 240); // Adjust the dimensions as needed
                                doc.save('fatura_{{ invoice.document }}.pdf');
                            });
                        });

                        $('#send_email').click(function () {
                                doc.fromHTML($('#invoice_content').html(), 15, 15, {
                                    'elementHandlers': specialElementHandlers
                                });
                                Swal.fire({
                                    position: "top-end",
                                    icon: "success",
                                    title: "Email enviado com sucesso",
                                    showConfirmButton: false,
                                    timer: 1500
                                }).then((result) => {
                                    $.ajax({
                                        type: "POST",
                                        url: '{% url "sendMail" %}',
                                        data: {
                                            "email": '{{ invoice.email }}',
                                            "body_html": $('#invoice_content').html(),
                                        },
                                        dataType: "json",
                                        success: function (data) {


                                        },
                                        error: function () {
                                            Swal.fire({
                                                title: "Erro!",
                                                text: "Falha na comunicação com o servidor",
                                                icon: "error",
                                            });
                                        },
                                    });
                                });
                            });
                        });
                    }, 1000); // Adjust the delay time as needed
            </script>
        </div>
        <div id="invoice_content">
            <header>
                <h1>Fatura</h1>
                <address>
                    <p>ByteBridges</p>
                    <p>Av. Cidade Politécnica<br>Portugal, Viseu </p>
                </address>

            </header>

            <article>
                <h1>Cliente</h1>
                <address>
                    <p>{{ invoice.client }}</p>
                </address>
                <table class="meta">
                    <tr>
                        <th><span>Fatura #</span></th>
                        <td><span>{{ invoice.document }}</span></td>
                    </tr>
                    <tr>
                        <th><span>Data</span></th>
                        <td><span>{{ invoice.date }}</span></td>
                    </tr>
                </table>

                <table class="inventory">
                    <thead>
                    <tr>
                        <th><span>Item</span></th>
                        <th><span>Descrição</span></th>
                        <th><span>Referencia</span></th>
                        <th><span>Quantidade</span></th>
                        <th><span>Preço</span></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for f in order %}
                        <tr>
                            <td><span>{{ f.1 }}</span></td>
                            <td><span>{{ f.2 }}</span></td>
                            <td><span>{{ f.7 }}</span></td>
                            <td><span>{{ f.8 }}</span></td>
                            <td><span>{{ f.4 }}</span></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <table class="balance">
                    <tr>
                        <th><span>Total</span></th>
                        <td><span> {{ total.total }} € </span></td>
                    </tr>
                </table>
            </article>

            <aside>
                <h1><span>Observações</span></h1>
                <div>
                    <p>{{ invoice.date }}</p><br>
                    <p>{{ invoice.obs }}</p><br>
                    <p><i class="fa-solid fa-circle-info"></i> O não pagamento no prazo de 30 dias, incorre no acréscimo
                        de juros à taxa de 1.5%</p>
                </div>
            </aside>
        </div>

    </div>

{% endblock %}