{% extends 'base_template.html' %} {% block extra_css %} {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/tables.css' %}"/>

{% endblock %}{% block content %}

    <div class="listContainer">
        <h1>Lista de Encomendas Fornecedor</h1>
        <table id="suppliersTable" class="display">
            <thead>
            <tr>
                <th>Documento</th>
                <th>Fornecedor</th>
                <th>Vence em</th>
                <th>Criado em</th>
                <th>Estado</th>
                <th>Armazém</th>
                <th>Cidade</th>
                <th>Operações</th>
            </tr>
            </thead>
            <tbody>
            {% for f in orders %}
                <tr>
                    <td><a href="{{ f.0 }}"> {{ f.1 }}</a></td>
                    <td>{{ f.2 }}</td>
                    <td>{{ f.4 }}</td>
                    <td>{{ f.3 }}</td>
                    <td>{{ f.5 }}</td>
                    <td>{{ f.6 }}</td>
                    <td>{{ f.7 }}</td>
                    <td>
                        <button type="button" class="btn btn-dark open-modal" data-target="exampleModalCenter" data-order-id="{{ f.0 }}">
                        <i class="fa-solid fa-circle-info"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">Detalhes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" >&times;</span>
                </button>
            </div>
            <form method="post">{% csrf_token %}
            <div class="modal-body">
                <table class="table" style="width: 800px; margin: 0 auto;" id="componentsTable">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Produto</th>
                    <th scope="col">Ref</th>
                    <th scope="col">Qtd</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            </div>
            </form>
        </div>
    </div>
</div>

    <script>
    $(document).ready(function () {
        $("#suppliersTable").DataTable({
            dom: "Bfrtip",
            buttons: ["copyHtml5", "excelHtml5", "csvHtml5", "pdfHtml5"],
            language: {
                url: "//cdn.datatables.net/plug-ins/1.13.7/i18n/pt-PT.json",
            },
            order: [[2, 'desc']]
        });

        $(".open-modal").on("click", function () {
            var orderId = $(this).data("order-id");
            var targetModal = $(this).data("target");

            // Pass the orderId to the function that updates the modal content
            updateModalContent(orderId);

            $("#" + targetModal).modal("show");
        });


        function updateModalContent(orderId) {
            $.ajax({
                type: "POST",
                url: '{% url "orderSupplierLinesFetch" %}',
                data: { "id": orderId },
                dataType: "json",
                success: function (data) {
                    // Handle the success response
                    updateDocumentsLines(data);
                },
                error: function () {
                    Swal.fire({
                        title: "Erro!",
                        text: "Falha na comunicação com o servidor",
                        icon: "error",
                    });
                },
            });
        }

        function updateDocumentsLines(options) {
            // Find the table body
            var tableBody = $('#componentsTable tbody');
            tableBody.empty(); // Clear existing rows

            options['list'].forEach(function (option) {
                const newRow = $('<tr>');
                newRow.append('<td>' + option[0] + '</td>');
                newRow.append('<td>' + option[1] + '</td>');
                newRow.append('<td>' + option[6] + '</td>');
                newRow.append('<td>' + option[7] + '</td>');
                tableBody.append(newRow);
            });
        }
    });
</script>

{% endblock %}