{% extends 'forms.html' %} {% block formContent %} {% block formTitle %}
<h1 class="title">Ficha de Produção</h1>
{% endblock %}

<!-- Table -->
<div class="ordertable">
  <table class="table" style="width: 800px" id="componentsTables">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Componente</th>
        <th scope="col">Referencia</th>
        <th scope="col">Quantidade</th>
        <th scope="col">SN</th>
      </tr>
    </thead>
    <tbody>
      {% for t in tarefas %}
      <tr>
        <td>{{ t.2 }}</td>
        <td>{{ t.3 }}</td>
        <td>{{ t.4 }}</td>
        <td>{{ t.5 }}</td>
        <td>
          <button
            class="btn btn-primary"
            type="button"
            onclick="collectSerialNumbers({{ t.2 }}, {{ t.5 }})"
          >
            <i class="fa-solid fa-barcode"></i>
          </button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="tasksContainer">
    <form class="allforms row" method="post">
      {% csrf_token %}
      <!-- Other form fields -->
      <div class="form-field col-lg-5">
        <select id="warehouse" name="idwarehouse" class="input-text js-input">
          <option value="" style="display: none" selected></option>
          <!-- Include the label inside the option tag -->
          <option disabled>Escolha um Armazém</option>
          {% for w in warehouses %}
          <option value="{{ w.idwarehouse }}">{{ w.name }}</option>
          {% endfor %}
        </select>
        <label class="label" for="idwarehouse">Armazém</label>
      </div>

      <!-- Other form fields (Cost, Hours, Serial Number) -->
      <div class="form-field col-lg-3">
        <input
          id="cost"
          name="cost"
          class="input-text js-input"
          type="number"
          required
        />
        <label class="label" for="cost">Custo</label>
      </div>

      <div class="form-field col-lg-3">
        <input
          id="hour"
          name="hour"
          class="input-text js-input"
          type="number"
          required
        />
        <label class="label" for="hour">Nº Horas</label>
      </div>

      <div class="form-field col-lg-12">
        <input
          id="serialPc"
          name="serialPc"
          class="input-text js-input"
          type="text"
          required
        />
        <label class="label" for="serialPc">Serial Number</label>
      </div>
      <div class="form-field col-lg-12 taskBtn">
        <button type="button" id="registerInvoice" class="btn btn-primary">
          Registar Ordem de Produção
        </button>
      </div>
    </form>
  </div>
</div>

<script>
    var serialNumbers = [];

    async function collectSerialNumbers(index, qtd) {
      let html = "";
      for (let i = 1; i <= qtd; i++) {
        html +=
          '<div class="form-row"><label class="form-check-label" for="swal-input' +
          i +
          '">' +
          i +
          'º componente:</label></br><input id="swal-input' +
          i +
          '" class="swal-input' +
          i +
          '"></div>';
      }

      const { value: formValues, isConfirmed } = await Swal.fire({
        title: "Números de série",
        html: html,
        focusConfirm: false,
        preConfirm: () => {
          let data = [];
          for (let i = 1; i <= qtd; i++) {
            const inputValue = document.getElementById("swal-input" + i).value;
            if (!inputValue) {
              Swal.showValidationMessage("Por favor, preencha todos os campos.");
              return false; // Prevent Swal from closing
            }
            data.push(inputValue);
          }
          return data;
        },
        confirmButtonText: "Adicionar números de série",
      });

      if (isConfirmed && formValues) {
        let obj = {};
        obj[index] = formValues;
        serialNumbers.push(obj);
      }
    }

    document.getElementById("registerInvoice").addEventListener("click", function () {
      var articleline = [];
      $("#componentsTables tbody tr").each(function () {
        var line = [];
        $(this)
          .find("td")
          .each(function () {
            line.push($(this).text());
            $(this)
              .find("input")
              .each(function () {
                line.push($(this).val());
              });
          });
        articleline.push(line);
      });

      // Check if values are present
      var cost = document.getElementById("cost").value;
      var hour = document.getElementById("hour").value;
      var warehouse = document.getElementById("warehouse").value;
      var serialPc = document.getElementById("serialPc").value;

      if (cost != null || hour!= null || warehouse != null || serialPc != null) {
        console.log("aki",cost,hour,warehouse,serialPc)
        $.ajax({
            type: "POST",
            url: '{% url "productionTaskCreateSend" %}',
            data: {
                idarticletype: {{ header.0.3 }},
                idproduction: {{ idproduction }},
                quantity: 1,
                serialPc: serialPc,
                hour: hour,
                cost: cost,
                warehouse: warehouse,
                serialNumbers: JSON.stringify(serialNumbers),
                articleline: JSON.stringify(articleline),
            },
            dataType: "json",
            success: function (data) {
                Swal.fire({
                title: "Documento criado",
                text: "Documento de compra criado com sucesso",
                imageUrl: "https://static.vecteezy.com/system/resources/previews/000/350/131/original/vector-package-icon.jpg",
                imageWidth: 200,
                imageHeight: 200,
                imageAlt: "https://static.vecteezy.com/system/resources/previews/000/350/131/original/vector-package-icon.jpg",
                }).then((result) => {
                serialNumbers.length = 0;
                window.location.replace("/dashboard");
                });
            },
            error: function () {
                Swal.fire({
                title: "Erro!",
                text: "Por favor, preencha todos os campos",
                icon: "error",
                });
            },
            });
      }
      else{
          Swal.fire({
              title: "Erro!",
              text: "Por favor, preencha todos os campos",
              icon: "error",
          });
      }
  });
</script>

{% endblock %}
