<!-- sellList.html -->
{% extends 'base_template.html' %} {% block extra_css %} {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/tables.css' %}" />
{% endblock %} {% block content %}

<div class="listContainer">
  <h1>Lista de Vendas</h1>
  <table id="suppliersTable" class="display">
    <thead>
      <tr>
        <th>ID Order Client</th>
        <th>ID Equipment</th>
        <th>Quantity</th>
      </tr>
    </thead>
    <tbody>
      {% for s in sales %}
      <tr>
        <td>{{ s.idorderclient }}</td>
        <td>{{ s.idequipment }}</td>
        <td>{{ s.quantity|default:"N/A" }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<script>
  $(document).ready(function () {
    $("#suppliersTable").DataTable({
      dom: "Bfrtip",
      buttons: ["copyHtml5", "excelHtml5", "csvHtml5", "pdfHtml5"],
      language: {
        url: "//cdn.datatables.net/plug-ins/1.13.7/i18n/pt-PT.json",
      },
    });
  });
</script>

{% endblock %}
