{% extends 'forms.html' %} {% block formContent %} {% block formTitle %}
<h1 class="title">Editar Fornecedor</h1>
{% endblock %} {% if supplier %}

<script>
  // Adicione este bloco de código no final do seu template
  $(document).ready(function () {
    $("#supplierEditForm").submit(function (event) {
      event.preventDefault(); // Impede o envio normal do formulário

      // Realiza a requisição Ajax
      $.ajax({
        type: "POST",
        url: '{% url "supplierEdit" idsupplier %}',
        data: $("#supplierEditForm").serialize(),
        dataType: "json",
        success: function (data) {
          // Handle the success response
          if (data.status === "success") {
            Swal.fire({
              title: "Sucesso!",
              text: "Fornecedor atualizado com sucesso",
              icon: "success",
            }).then(function () {
              // Redireciona para a página de fornecedores
              window.location.href = "{% url 'supplierList' %}";
            });
          } else {
            Swal.fire({
              title: "Erro!",
              text: "Falha ao atualizar fornecedor",
              icon: "error",
            });
          }
        },
        error: function () {
          // Handle the error response
          Swal.fire({
            title: "Erro!",
            text: "Falha na comunicação com o servidor",
            icon: "error",
          });
        },
      });
    });
  });
</script>
{% else %}
<p>Supplier not found</p>
{% endif %} {% endblock %}
