{% extends 'base_template.html' %} {%block extra_css%} {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/tables.css' %}" />
{%endblock%}{% block content %}

<div class="listContainer">
  <h1>Lista de Utilizadores</h1>

  <table id="usersTable" class="display">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Função</th>
        <th>Tipo de Função</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for u in users %}
      <tr>
        <td>{{ u.name }}</td>
        <td><a href="mailto:{{ u.email }}">{{ u.email }}</a></td>
        <td>{{ u.role }}</td>
        <td>{{ u.labor }}</td>
        <td>
            <a class="btn btn-warning" href="{% url 'userEdit' user_id=u.iduser %}">Editar</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script>


  $(document).ready(function () {
    $("#usersTable").DataTable({
      dom: "Bfrtip",
      buttons: ["copyHtml5", "excelHtml5", "csvHtml5", "pdfHtml5"],
      language: {
        url: "//cdn.datatables.net/plug-ins/1.13.7/i18n/pt-PT.json",
      },
    });
  });
</script>

{% endblock %}
