{% extends 'forms.html' %} {% block formContent %} {% block formTitle %}
<h1 class="title">Editar Utilizador</h1>
{% endblock %} {% if user %}
<form
  class="allforms row"
  method="post"
  action="{% url 'userEdit' user_id %}"
>
  {% csrf_token %}

  <div class="form-field col-lg-6">
    <select id="dropdown" name="idlabor" class="input-text js-input" required>
        {% for l in labor %}
            <option value="{{ l.idlabor }}" {% if l.name == user.labor %}selected{% endif %}>
                {{ l.name }}
            </option>
        {% endfor %}
    </select>
      <label class="label" for="idlabor">Familia</label>
  </div>

  <div class="form-field col-lg-12 submitBtn">
    <input class="submit-btn" type="submit" value="Atualizar Utilizador" />
  </div>
</form>
{% else %}
<p>Utilizador not found</p>
{% endif %} {% endblock %}
